.flex{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
}


.contaner{
    max-width: 80vw;
    margin: auto;
    /* background-color: aqua; */
}
.contaner1{
    max-width: 80vw;
    
}
.itemcenter{
    align-items: center;
}
.justifycenter{
    justify-content:center ;
}
.uppercase{
    text-transform: uppercase ;

}
.bold{
    font-weight: bolder;
}
.spacearound{
    justify-content: space-between;

}
.mx2{
    margin-left:12px;
    margin-right: 12px;
}